AETHERIS_MODE=PAPER
STARTING_BALANCE=10000
RISK_PER_TRADE=0.005
MAX_DAILY_LOSS=0.02
MAX_OPEN_POSITIONS=3
MAX_LEVERAGE=3
MIN_SETUP_SCORE=72
MAX_CORRELATED_EXPOSURE=0.82
SHADOW_SCAN_SECONDS=300
BINANCE_FAPI_BASE=https://fapi.binance.com
BINANCE_TESTNET_BASE=https://testnet.binancefuture.com
BINANCE_TESTNET_API_KEY=
BINANCE_TESTNET_API_SECRET=
ENABLE_TESTNET_EXECUTION=false
BINANCE_RECV_WINDOW=5000
